$header-color: #ffffff;
$main-color: #f7f7f7;
$footer-color: #222;
$text-color-primary: #222;
$text-color-secondary: #ffffff;
$secondary-color: #53a2f2;
$active-text: #0e5064;
$width: 70%;
$button-color: #313131;
$outline: #31313176;
$error-bg: #cb0000ea;