$header-color: #ffffff;
$main-color: #efefef;
$footer-color: #222;
$text-color-primary: #222;
$secondary-color: #0f70d2;
$active-text: #0e5064;
$width: 70%;
$button-color: #313131;
$outline: #e4e4e4;
$error-bg: #cb0000ea;
$icons: #87878761;