@use 'variables' as v;

@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);

#root {
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: v.$main-color;

  >div {
    border-right: 1px solid v.$outline;
  }
}

@import './Forms';
@import './Questions';
@import './Header';