@use 'variables' as v;

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px 80px 20px;


  input,
  textarea {
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    background-color: #ffffff;
    outline-color: v.$outline;
    box-shadow: #3c425729 0px 0px 0px 1px;
  }

  textarea {
    min-height: 200px;
    resize: vertical;
    max-height: 450px;
  }

  input[type=submit] {
    color: #fff;
    background-color: v.$button-color;
    font-weight: 600;
    cursor: pointer;
  }

  p {
    font-size: 12px;
  }

  div {
    span {
      color: v.$error-bg;
    }

    span:before {
      content: 'X ';
    }
  }
}

.edit {
  padding: 10px 20px 80px 20px;
  width: 100%;

  textarea {
    resize: none;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  a {
    color: v.$secondary-color;
  }
}